body{
	background:#244153;
}
div#container{
	display:table;
	margin:80px auto;
	font-size:16px;
}
span#seila{
	display:table;
	margin:10px auto;
	text-transform:uppercase;
	font-family:sans-serif;
	color:#111;
	text-align:center;
	border:1px solid #111;
	background:#294d65;
	padding:8px;
	width:500px;
	border:1px solid #172C38;
}
div#container_marcacoes{
	display:table;
	width:600px;
	border:4px solid #294d65;
}
button#but_Iniciar{
	display:table;
	width:170px;
	height:40px;
	margin-left:40px;
	border:1px solid #172C38;
	background:#294d65;
	margin-bottom:15px;
	cursor:pointer;
	text-transform:uppercase;
	color:#111;
}

/* css da lista de navios */

div#list_Navios{
	display:table;
	position:absolute;
	width:205px;
	top:138px;
	left:50px;
	border:4px solid  #294d65;
	padding-top:10px;
	padding-right:35px;
} 
li{
	list-style-type:none;
	margin-top:16px;
	background:#172C38;
	height:40px;
}
div.bloco{
	width:25px;
	height:25px;
	display:inline-block;
	border:1px solid  #294d65;
	position:relative;
	top:5px;
	left:5px;
	margin:2px;
}

/* fim css*/


/* css das posicoes usado na tabela e componentes dela */

table#tb_marcar_posicoes{
	border:1px solid #294d65;
	display:table;
	margin:20px auto;
	padding:4px;
}

td.td_marca_posicoes{
	border:1px solid #294d65;
	width:40px;
	height:40px;
	cursor:pointer;
	background:#244153;
}

/*
	fim css usado nas tabelas
*/

